/* Importar fuentes SF Pro Display */
@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1400px; /* Ancho máximo del contenedor principal */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espacio interno alrededor del contenido */
}

header {
    background-color: #f8f8f8; /* Color de fondo del encabezado */
    padding: 10px 0; /* Ancho del headder */
    border-bottom: 1px solid #eee; /* Borde inferior del encabezado */
}

header .container {
    display: flex; /* Usar Flexbox para el diseño */
    justify-content: space-between; /* Espaciar el logo y la navegación */
    align-items: center; /* Alinear verticalmente los elementos */
}

.logo {
    display: flex; /* Usar Flexbox para el diseño */
    align-items: center; /* Alinear verticalmente los elementos */
}

.logo img {
    height: 35px; /* tamaño del logo */
    margin-right: 10px; /* Espacio a la derecha del logo */
}

.logo h1 {
    margin: 0; /* Eliminar márgenes predeterminados */
    font-size: 25px; /* Tamaño de la fuente del título */
    color: rgb(120, 177, 83); /* Color del título */
    font-weight: bold; /* Peso de la fuente del título */
}

nav ul {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar relleno predeterminado */
    margin: 0; /* Eliminar márgenes predeterminados */
}

nav ul li {
    display: inline; /* Mostrar elementos en línea */
    margin-left: 20px; /* Espacio a la izquierda de los elementos */
}

nav ul li a {
    text-decoration: none; /* Eliminar subrayado */
    color: #333; /* Color del texto */
    font-weight: medium; /* Peso de la fuente del texto */
}

/* Botón "Descargar" en el header */
nav ul li a[href="#descargar"] {
    background-color: rgb(120, 177, 83); /* Fondo verde */
    color: #fff; /* Texto blanco */
    border: 2px solid rgb(120, 177, 83); /* Borde verde */
    padding: 10px 25px; /* Espacio interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    font-weight: bold;
}

nav ul li a[href="#descargar"]:hover {
    background-color: #fff; /* Fondo blanco al pasar el ratón */
    color: rgb(120, 177, 83); /* Texto verde al pasar el ratón */
}

/* Hero Section (Sección 1) */
.hero {
    background-color: rgb(120, 177, 83); /* Color de fondo verde */
    color: #fff; /* Color del texto */
    padding: 70px 0; /* Aumentar el espacio vertical de la sección */
    padding-bottom: 150px; /* Espacio inferior de la sección */
}

.hero .container {
    display: flex; /* Usar Flexbox para el diseño */
    justify-content: space-between; /* Espaciar el contenido y la imagen */
    align-items: center; /* Alinear verticalmente los elementos */
}

.hero-content {
    flex: 1; /* Permitir que el contenido crezca */
    padding-right: 40px; /* Espacio a la derecha del contenido */
}

.hero h1 {
    font-size: 100px; /* Tamaño de la fuente del título */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-weight: bold; /* Peso de la fuente del título */
}

.hero .subtitle {
    font-size: 28px; /* Tamaño de la fuente del subtítulo */
    margin-bottom: 40px; /* Espacio debajo del subtítulo */
    font-weight: semibold; /* Peso de la fuente del subtítulo */
    /* Para hacerlo mas grande, aumentar el font-size */
}

.primary-button {
    background-color: #fff; /* Fondo blanco del botón */
    color: rgb(120, 177, 83); /* Color del texto del botón */
    border: none; /* Eliminar borde */
    padding: 15px 30px; /* Espacio interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 25px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    font-weight: bold; /* Peso de la fuente del botón */
    transition: background-color 0.3s ease; /* Transición suave */
    /* Para hacerlo mas grande, aumentar el font-size */
}

.primary-button:hover {
    background-color: #e0e0e0; /* Fondo gris claro al pasar el ratón */
}

.hero .description {
    font-size: 18px; /* Tamaño de la fuente de la descripción */
    color: #f0f0f0; /* Color del texto de la descripción */
    margin-top: 30px; /* Espacio encima de la descripción */
    font-weight: medium; /* Peso de la fuente de la descripción */
}

.hero-image {
    flex: 1; /* Permitir que la imagen crezca */
    display: flex; /* Usar Flexbox para el diseño */
    justify-content: center; /* Centrar horizontalmente la imagen */
    align-items: center; /* Centrar verticalmente la imagen */
}

.mockup-container {
    position: relative; /* Posicionamiento relativo para los mockups */
    width: 195px; /* Ancho del contenedor de los mockups */
    height: 430px; /* Alto del contenedor de los mockups */
}

.mockup {
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Ancho del mockup (100% del contenedor) */
    height: 100%; /* Alto del mockup (100% del contenedor) */
    background-color: #fff; /* Fondo blanco del mockup */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); /* Trazo negro con 30% opacidad y grosor 5 */
    display: flex; /* Usar Flexbox para el diseño */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
}

.mockup.phone-back {
    transform: translateX(85px) translateY(-25px); /* Posicionar el mockup trasero */
    background-color: #eee; /* Color de fondo del mockup trasero */
}

.mockup.phone-front {
    /* Contendrá el logo */
    transform: translateX(30px) translateY(15px); /* Posicionar el mockup delantero */
}

.app-icon-container {
    background-color: #fff; /* Fondo blanco del contenedor del logo */
    width: 170px; /* Ancho del contenedor del logo */
    height: 170px; /* Alto del contenedor del logo */
    border-radius: 25px; /* Bordes redondeados */
    display: flex; /* Usar Flexbox para el diseño */
    justify-content: center; /* Centrar horizontalmente el logo */
}

.app-icon-container img {
    max-width: 70%; /* Ancho máximo de la imagen del logo */
    max-height: 70%; /* Alto máximo de la imagen del logo */
}

/* Degradado entre la sección 1 y la sección 2 */

/* Modificar el final de la sección hero */
.hero {
    background-color: rgb(120, 177, 83); /* Color de fondo verde */
    color: #fff; /* Color del texto */
    padding: 70px 0; /* Espacio vertical de la sección */
    padding-bottom: 100px; /* Reducir un poco el padding inferior */
    position: relative; /* Para posicionar el degradado */
    margin-bottom: 0; /* Eliminar cualquier margen inferior */
}

/* Crear el degradado como un pseudo-elemento */
.hero::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px; /* Se extiende 100px hacia abajo */
    height: 100px;
    background: linear-gradient(to bottom, rgb(120, 177, 83) 0%, #fff 100%);
    z-index: 1; /* Asegurarse de que esté por encima del contenido */
}

/* Ajustar el inicio de la sección secundaria */
.secondary-section {
    padding-top: 120px; /* Aumentar el padding superior para compensar */
    margin-top: 0; /* Eliminar cualquier margen superior */
    background-color: #fff;
    padding-bottom: 150px;
    position: relative; /* Para posicionamiento relativo */
    z-index: 0; /* Por debajo del degradado */
}

/* Quitar el background-color del título para que se vea mejor con el degradado */
.secondary-section h2 {
    position: relative;
    z-index: 2; /* Asegurarse de que esté por encima del degradado */
}

/* Sección 2*/
.secondary-section {
    padding: 60px 0; /* Espacio vertical de la sección */
    background-color: #fff; /* Color de fondo blanco */
}

.secondary-section h2 {
    font-size: 2em; /* Tamaño de la fuente del título */
    color: rgb(120, 177, 83); /* Color del título */
    text-align: center; /* Alinear el texto al centro */
    margin-top: 70px;
    margin-bottom: 75px; /* Espacio debajo del título */
    font-weight: semibold; /* Peso de la fuente del título */
    /* ¿Qué hace VerdeXpress? - Semibold */
}

/* Ajustar el tamaño de la sección secundaria para que coincida con la sección hero */
.secondary-section {
    padding: 70px 0; /* Mismo padding vertical que la sección hero */
    padding-bottom: 150px; /* Mismo padding-bottom que la sección hero */
    background-color: #fff;
    min-height: 430px; /* Altura mínima para mantener consistencia con la sección hero */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contenedor principal del carrusel */
.carousel-container {
    position: relative;
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
    max-width: 1200px; /* Limitar el ancho máximo del carrusel */
    margin-left: auto;
    margin-right: auto;
}

/* Wrapper para los slides del carrusel */
.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

/* Cada elemento individual del carrusel */
.carousel-item {
    min-width: calc(33.333% - 20px);
    margin: 0 10px;
    text-align: center;
    flex-shrink: 0;
}

.carousel-item img {
    width: 300px; /* Ancho fijo */
    height: 300px; /* Altura igual al ancho para hacerlas cuadradas */
    object-fit: cover; /* Asegura que las imágenes cubran el espacio sin distorsionarse */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    display: block; /* Necesario para que el margin auto funcione */
}

.carousel-item p {
    margin-top: 15px;
    color: rgb(120, 177, 83); /* Cambio a color verde */
    font-weight: bold; /* Cambio a bold */
    font-size: 15px;
}

/* Estilos para las flechas de navegación */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(120, 177, 83);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-arrow:hover {
    opacity: 1;
    background-color: rgb(100, 157, 63); /* Color más oscuro al pasar el mouse */
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

/* Indicadores de posición (dots) */
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dot:hover {
    transform: scale(1.2);
}

.dot.active {
    background-color: rgb(120, 177, 83);
    transform: scale(1.2);
}

/* Efecto de onda en la parte inferior de la sección */
.secondary-section::after {
    content: '';
    display: block;
    height: 100px;
    background-image: url('img/wave.svg');
    background-size: cover;
    background-position: center top;
    margin-top: 50px;
}

/* Ajustes responsivos para las imágenes cuadradas */
@media (max-width: 992px) {
    .carousel-item img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 768px) {
    .carousel-item img {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        width: 200px;
        height: 200px;
    }
}

/* Footer */
footer {
    background-color: #333; /* Color de fondo negro */
    color: #fff; /* Color del texto blanco */
    text-align: center; /* Alinear el texto al centro */
    padding: 20px 0; /* Espacio vertical del pie de página */
    font-size: 0.8em; /* Tamaño de la fuente del texto */
    font-weight: medium; /* Peso de la fuente del texto */
    /* Texto del footer - Medium */
}